.clover/
.gradle/
.rvmrc
recordings/
.DS_Store
target/
src/logs/
reports/
src/main/webapp/index.html
cucumber.bat
setremotedebugging.bat
stop.bat
.project
.classpath
.settings
.springBeans
*.iml
*.ipr
*.iws
*.bak

