// xampp.rc XAMPP Control resources (Borland Version)

#include <windows.h>
#include "xampp.h"

1 24 xampp.xml

MyIcon ICON "xampp.ico"
TrayIcon ICON "tray.ico"

SERVICE DIALOG -32768, 51, 164, 166
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CLASS "XamppClass"
FONT 8, "Verdana"
{
 CONTROL "&Run XAMPP Control Panel as a Service", IDC_CHECKBOX9, "BUTTON", BS_AUTOCHECKBOX | BS_LEFTTEXT | BS_FLAT | NOT WS_TABSTOP, 4, 6, 154, 12
 CONTROL "", -1, "static", SS_BLACKFRAME | WS_CHILD | WS_VISIBLE, 48, 112, 112, 12
 EDITTEXT IDC_EDIT83, 49, 113, 110, 10, ES_AUTOHSCROLL | NOT WS_BORDER | WS_DISABLED | WS_TABSTOP
 RTEXT "Password:", IDC_PASSWORD, 6, 127, 40, 10, SS_RIGHT | WS_DISABLED | WS_GROUP
 CONTROL "", -1, "static", SS_BLACKFRAME | WS_CHILD | WS_VISIBLE, 48, 126, 112, 12
 EDITTEXT IDC_EDIT84, 49, 127, 110, 10, ES_AUTOHSCROLL | ES_PASSWORD | NOT WS_BORDER | WS_DISABLED | WS_TABSTOP
 CONTROL "", -1, "static", SS_BLACKFRAME | WS_CHILD | WS_VISIBLE, 4, 58, 156, 12
 EDITTEXT IDC_EDIT30, 5, 59, 154, 10, ES_AUTOHSCROLL | NOT WS_TABSTOP | NOT WS_BORDER | WS_DISABLED
 PUSHBUTTON "&Help", IDHELP, 4, 148, 32, 14, BS_FLAT
 PUSHBUTTON "&Cancel", IDCANCEL, 84, 148, 32, 14, BS_FLAT
 DEFPUSHBUTTON "OK", IDOK, 122, 148, 38, 14, BS_FLAT
 CONTROL "Allow &Desktop interaction", IDC_CHECKBOX30, "BUTTON", BS_AUTOCHECKBOX | BS_LEFTTEXT | BS_FLAT | WS_DISABLED | WS_TABSTOP, 26, 92, 100, 10
 PUSHBUTTON "SC&M", IDC_PUSHBUTTON41, 44, 148, 32, 14, BS_FLAT | WS_TABSTOP
 CONTROL "&System Account", IDC_RADIOBUTTON7, "BUTTON", BS_AUTORADIOBUTTON | WS_DISABLED, 6, 78, 68, 10
 CONTROL "&Account:", IDC_RADIOBUTTON8, "BUTTON", BS_AUTORADIOBUTTON | WS_DISABLED, 6, 113, 40, 10
 CONTROL "Apache", IDC_CHECKBOX4, "BUTTON", BS_AUTOCHECKBOX | BS_FLAT | WS_DISABLED | WS_TABSTOP, 4, 40, 36, 12
 CONTROL "MySql", IDC_CHECKBOX5, "BUTTON", BS_AUTOCHECKBOX | BS_FLAT | WS_DISABLED | WS_TABSTOP, 44, 40, 31, 12
 // CONTROL "FileZilla", IDC_CHECKBOX6, "BUTTON", BS_AUTOCHECKBOX | BS_FLAT | WS_DISABLED | WS_TABSTOP, 81, 40, 37, 12
 // CONTROL "Mercury", IDC_CHECKBOX7, "BUTTON", BS_AUTOCHECKBOX | BS_FLAT | WS_DISABLED | WS_TABSTOP, 121, 40, 40, 12
 LTEXT "Start these Modules:", -1, 4, 24, 74, 12
}

SHELP DIALOG 0, 0, 194, 184
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CLASS "XamppClass"
CAPTION "XAMPP Control Service Help"
FONT 8, "Verdana"
{
 DEFPUSHBUTTON "OK", IDOK, 72, 164, 50, 14, BS_FLAT
 GROUPBOX "Windows NT/2000/XP", IDC_GROUPBOX38, 8, 6, 178, 78, BS_GROUPBOX
 GROUPBOX "Windows 95/98/SE/ME", IDC_GROUPBOX39, 8, 90, 178, 66, BS_GROUPBOX
 LTEXT "Because the XAMPP Service starts before a user has logged on, only the details of the Account under which the service runs will be available.\n\nEnabling Desktop Interaction allows an icon to be placed in the System Tray after a user logs on.", -1, 14, 18, 168, 64
 LTEXT "An entry is added to the Registry so that XAMPP starts at boot time.\n\nThe service waits until the Desktop is up and then adds an icon to the System Tray.", -1, 14, 104, 168, 46
}

XAMPP DIALOG 0, 0, 250, 200
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU | WS_THICKFRAME | WS_MINIMIZEBOX | WS_MAXIMIZEBOX
CLASS "XamppClass"
CAPTION "XAMPP"
FONT 8, "Verdana"
{
 ICON "MyIcon", -1, 6, 6, 18, 20
 CTEXT "XAMPP Control Panel", -1, 30, 14, 113, 10
 PUSHBUTTON "E&xit", IDCANCEL, 200, 96, 46, 12, BS_FLAT
 PUSHBUTTON "&Help", IDC_HELPX, 200, 82, 46, 12, BS_FLAT
 PUSHBUTTON "&Explore...", IDC_EXPLORE, 200, 68, 46, 12, BS_FLAT
 PUSHBUTTON "&Refresh", IDC_XREFRESH, 200, 54, 46, 12, BS_FLAT
 GROUPBOX "Modules", IDC_GROUPBOX1, 1, 36, 194, 72, BS_GROUPBOX
 EDITTEXT IDC_EDIT0, 70, 50, 38, 10, ES_CENTER | NOT WS_BORDER | WS_TABSTOP
 EDITTEXT IDC_EDIT1, 70, 64, 38, 10, ES_CENTER | NOT WS_BORDER | WS_TABSTOP
 EDITTEXT IDC_EDIT2, 70, 78, 38, 10, ES_CENTER | NOT WS_BORDER | WS_TABSTOP
 EDITTEXT IDC_EDIT3, 70, 92, 38, 10, ES_CENTER | NOT WS_BORDER | WS_TABSTOP
 PUSHBUTTON "", IDC_ACTION0, 110, 49, 36, 12, BS_FLAT
 PUSHBUTTON "", IDC_ACTION1, 110, 63, 36, 12, BS_FLAT
 // PUSHBUTTON "", IDC_ACTION2, 110, 77, 36, 12, BS_FLAT
 // PUSHBUTTON "", IDC_ACTION3, 110, 91, 36, 12, BS_FLAT
 LISTBOX IDC_LISTBOX1, 0, 112, 250, 88, LBS_NOTIFY | WS_BORDER | LBS_NOINTEGRALHEIGHT | LBS_DISABLENOSCROLL | WS_BORDER | WS_VSCROLL | WS_HSCROLL
 CONTROL "Dummy", IDC_EDIT9, "EDIT", ES_READONLY | NOT WS_TABSTOP | NOT WS_BORDER | NOT WS_VISIBLE, 199, 0, 50, 4
 CONTROL "Svc", IDC_CHECKBOX0, "BUTTON", BS_AUTOCHECKBOX | BS_FLAT | WS_DISABLED, 4, 50, 22, 10
 CONTROL "Svc", IDC_CHECKBOX1, "BUTTON", BS_AUTOCHECKBOX | BS_FLAT | WS_DISABLED, 4, 64, 22, 10
 // CONTROL "Svc", IDC_CHECKBOX2, "BUTTON", BS_AUTOCHECKBOX | BS_FLAT | WS_DISABLED, 4, 78, 22, 10
 // CONTROL "Svc", IDC_CHECKBOX3, "BUTTON", BS_AUTOCHECKBOX | BS_FLAT | WS_DISABLED | WS_TABSTOP, 4, 92, 22, 10
 PUSHBUTTON "&Status", IDC_DEBUG, 200, 40, 46, 12, BS_FLAT | WS_TABSTOP
 PUSHBUTTON "Admin...", IDC_XAMPP, 152, 49, 36, 12, BS_FLAT | WS_TABSTOP
 PUSHBUTTON "Admin...", IDC_MYSQL, 152, 63, 36, 12, BS_FLAT | WS_TABSTOP
// PUSHBUTTON "Admin...", IDC_FILEZILLA, 152, 77, 36, 12, BS_FLAT | WS_TABSTOP
// PUSHBUTTON "Admin...", IDC_MERCURY, 152, 91, 36, 12, BS_FLAT | WS_TABSTOP
 RTEXT "Apache", -1, 28, 50, 38, 10
 RTEXT "MySql", -1, 28, 64, 38, 10
// RTEXT "FileZilla", -1, 28, 78, 38, 10
// RTEXT "Mercury", -1, 28, 92, 38, 10
 PUSHBUTTON "Ser&vice... ", IDC_SERVICE, 148, 12, 46, 12, BS_FLAT | WS_DISABLED | WS_TABSTOP
 PUSHBUTTON "SC&M...", IDC_PUSHBUTTON1, 200, 12, 46, 12, BS_FLAT | WS_TABSTOP
}


HELP DIALOG 0, 0, 200, 130
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CLASS "XamppClass"
CAPTION "XAMPP Control Help"
FONT 8, "Verdana"
{
 DEFPUSHBUTTON "OK", IDOK, 144, 110, 50, 14, BS_FLAT
 ICON "MyIcon", -1, 6, 6, 18, 20
 PUSHBUTTON "&Read Me...", IDC_README, 76, 110, 44, 14, BS_FLAT
 PUSHBUTTON "&Support...", IDC_SUPPORT, 6, 110, 44, 14, BS_FLAT | WS_TABSTOP
 LISTBOX IDC_LISTBOX2, 6, 32, 188, 72, LBS_NOTIFY | WS_BORDER | LBS_USETABSTOPS | LBS_NOINTEGRALHEIGHT | LBS_DISABLENOSCROLL | WS_BORDER | WS_VSCROLL | WS_HSCROLL
 EDITTEXT IDC_EDIT10, 32, 12, 162, 12, ES_READONLY | NOT WS_BORDER | WS_TABSTOP
}

VERSIONINFO_1 VERSIONINFO
FILEVERSION 1, 4, 0, 0
PRODUCTVERSION 1, 4, 0, 0
FILETYPE VFT_APP
{
 BLOCK "StringFileInfo"
 {
  BLOCK "040904E4"
  {
   VALUE "Comments", "XAMPP Control Panel\000"
   VALUE "Installer", "none\000"
   VALUE "Uninstaller", "none\000"
   VALUE "Version", "2.5\000"
   VALUE "Build", "9. March, 2011\000"
   VALUE "CompanyName", "NAT Software, Germany.\000\000"
   VALUE "FileDescription", "XAMPP Control Panel (USB) for win32\000"
   VALUE "FileVersion", "2.5", "\000\000"
   VALUE "InternalName", "Xampp\000"
   VALUE "LegalCopyright", "Copyright © NAT Software 2007\000\000"
   VALUE "OriginalFilename", "xampp.exe\000"
   VALUE "WEB Site", "www.nat32.com/xampp\000"
  }

 }

 BLOCK "VarFileInfo"
 {
  VALUE "Translation", 0x409, 1252
 }

}

