label.missing  {
	color:#FF0000;
	font-weight:bold;
}

ul {
    width: 100%;
    margin-left: 0px;
    padding: 0px;
}

ul li {
    list-style-type: none;
    border-bottom: 1px dashed gray;
    margin-top: 10px;
}

#results li:nth-child(even) {background: #CCC}
#results li:nth-child(odd) {background: #FFF}

.list-item-score
{
    float:left;
    width:100%;
    font-size:90%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.list-item-results
{
    float:left;
    width:100%;
    color:#666666;
    font-size:80%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.x-item-selected .list-item-title
{
    color:#ffffff;
}
.x-item-selected .list-item-narrative
{
    color:#ffffff;
}